/* Header styles */
.head {
  background-color: darkseagreen;
  margin-bottom: 10px;
}

#header {
  padding-left: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header small {
  color: rgb(78, 78, 78);
}

/* Form styles */
.badge {
  background-color: darkseagreen;
}

.arrowDown {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.collapse,
.collapseEdit {
  margin-bottom: 5px;
}

.collapsing,
.collapsingEdit {
  position: relative;
  overflow: hidden;
  -webkit-transition-duration: .65s;
  transition-duration: .65s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* Note item styles */
#titleEdit {
  font-weight: 600;
  font-size: large;
  text-align: center;
  height: fit-content;
}

#title {
  align-content: center;
}

#noteEdit {
  width: 100%;
}

.card-body {
  font-size: 24px;
  height: fit-content;
  background-color: inherit;
  white-space: pre-wrap;
  padding-bottom: 35px;
  margin: -1px;
}

.remove {
  position: absolute;
  left: 0px;
  font-size: 16px;
  width: fit-content;
  height: fit-content;
  padding-right: 5px;
}

.card-title {
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: larger;
  display: flex;
  padding-top: 5px;
  padding-left: 5px;
  background-color: inherit;
  text-decoration: initial;
}

.card-title #dates {
  align-self: flex-end;
}

.card {
  background-color: gainsboro;
}

.card:hover{
  opacity: 0.8;
}

.ok {
  padding-bottom: 10px;
  padding-top: 10px;
}

.card-body.completed {
  text-decoration: line-through;
}

.completed {
  background-color: darkseagreen;
}

#dates {
  position: absolute;
  right: 35px;
  font-size: 18px;
  width: fit-content;
  text-align: right;
  margin-right: 5px;
  float: right;
}

/* NotesList styles */


#list {
  height: 68vh;
  overflow-y: auto;
  background-color: whitesmoke;
  margin-top: 5px;
}

#funcs,
#funcsLeft,
#funcsRight {
  margin: 0px;
  margin-bottom: -3px;
  padding: 0px;
  background-color: whitesmoke;
}

/* Element styles */

/* Input */
#create {
  width: 36vw;
}
#create:focus {
  outline: none;
}
input {
  width: 18vw;
}
input#dateTo {
  margin-left: 2px;
}

#dateToLabel,
#dateFromLabel {
  border-radius: 3px 3px 0px 0px;
  width: 18vw;
  text-align: center;
  margin: auto auto;
  border: 1px rgb(118, 118, 118) none;
  border-style: solid solid none solid;
  padding: 0px 0px -2px 0px;
}

#dateToLabel {
  margin-left: 2px;
}

#dateTo,
#dateFrom {
  padding-top: 4px;
  border: 1px rgb(118, 118, 118) none;
  border-style: none solid solid solid;
  border-radius: 0px 0px 3px 3px;
}

#datesEdit {
  position: relative;
  margin: auto;
}

input:focus {
  outline: none;
}

.colors {
  color: grey;
  border: 1px grey solid;
  border-radius: 3px;
  margin-left: 1px;
  display: inline-block;
  width: 18vw;
  height: 29px;
  margin: 2px;
}

#colors {
  border-color: rgb(118, 118, 118);
}

#colorsEditSelect:focus,
#noteEdit:focus
 {
  outline: none;
}

@media (min-width: 400px) {
  @media (max-width: 711px) { 
    .colors select {
      margin-left: 1vw;
      width: 45%;
      margin-top: 2px;
    }
    input#dateTo,
    input#dateFrom,
    #dateToEdit,
    #dateFromEdit {
      font-size: 1.35vw;
    }
    #dates {
      font-size: 1.35vw;
    }
  }
}
@media (min-width: 711px) { 
  .colors select {
    margin-left: 1vw;
    width: 60%;
    margin-top: 2px;
  }
  input#dateTo,
  input#dateFrom,
  #dateToEdit,
  #dateFromEdit {
    font-size: 1.75vw;
  }
  #dates {
    top: 2px;
    font-size: 1.8vw;
    width: 14vw;
  }
}
@media (min-width: 900px) { 
  input#dateTo,
  input#dateFrom,
  #dateToEdit,
  #dateFromEdit {
    font-size: medium;
  }
  #dates {
    font-size: 1.35vw;
  }
}

.colors select:focus {
  outline: none;
}

#search {
  width: 112px;
  border: none;
  text-align: center;
}

#searchs {
  color: rgb(118, 118, 118);
  border: none;
}

.filterOn {
  float: right;
  background-color: white;
  height: 30px;  
  border: 1px rgb(118, 118, 118) solid;
  border-radius: 3px;
  color: rgb(118, 118, 118);
  width: fit-content;
}

#searchIcon {
  padding-left: 2px;
}

/* Buttons */
#optionsButton {
  margin-right: 5px;
  margin-left: 3px;
  width: fit-content;
  border: none;
  position: absolute;
  top: 30px;
}

#searchButton {
  border: none;
}

#completeButton {
  position: absolute;
  right: 2px;
}

#completeUn {
  position: relative;
  margin-left: 2px;
}

#editCompleteButton {
  position: absolute;
  right: 2px;
}

#editButton {
  position: absolute;
  right: 2px;
}

#createButton {
  position: absolute;
  top: -2px;
}

#editButton:hover {
  background-color: darkorange;
}
#completeButton:hover,
#editCompleteButton:hover {
  background-color: darkseagreen;
}

#createButton:hover {
  background-color: darkseagreen;
}

#searchButton:hover {
  background-color: lightblue;
}

#removeButton:hover,
#clearButton:hover {
  background-color: lightcoral;
  color: black;
}

button {
  height: 30px;
  cursor: pointer;
  margin: 2px;
  background-color: white;
  border-radius: 2px;
  border-style: inset;
  border: 1px rgb(118, 118, 118) solid;
  color: black;
  padding: 1px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  width: 30px;
}

button:focus {
  outline: none;
}

/* Layout styles */

#wrapper {
  height: 100%;
}

#wrapper2 {
  height: 85vh;
}