/* Header styles */
.head {
  background-color: darkseagreen;
  margin-bottom: 10px;
}

#header {
  padding-left: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header small {
  color: rgb(78, 78, 78);
}

/* Form styles */

.arrowDown {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.collapse {
  margin-bottom: 5px;
}

.collapsing {
  position: relative;
  overflow: hidden;
  -webkit-transition-duration: .65s;
  transition-duration: .65s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.colors {
  border: 1px black solid;
  margin-left: 1px;
  display: inline-block;
  width: 250px;
  height: 29px;
  margin: 2px;
}
.colors label {
  padding-left: 3px;
  padding-right: 11px;
}

.colors select {
  width: 190px;
  margin-top: 2px;
}

.colors select:focus {
  outline: none;
}

/* Note item styles */

.card-body {
  font-size: 24px;
  height: fit-content;
  background-color: inherit;
  white-space: pre-wrap;
  margin: -1px;
}

.remove {
  font-size: 16px;
  width: fit-content;
  height: fit-content;
  padding-right: 5px;
}

.card-title {
  display: flex;
  padding-top: 5px;
  padding-left: 5px;
  background-color: inherit;
  text-decoration: initial;
  justify-content: space-between;
}

.card-title #dates {
  align-self: flex-end;
}

.card {
  background-color: gainsboro;
}

.card:hover{
  opacity: 0.75;
}

.ok {
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.card-body.completed {
  text-decoration: line-through;
}

.completed {
  background-color: darkseagreen;
}

#dates {
  font-size: 18px;
  width: 160px;
  text-align: right;
  margin-right: 5px;
}

/* NotesList styles */


#list {
  height: 75vh;
  overflow-y: auto;
  background-color: whitesmoke;
  margin-top: 10px;
}

/* Element styles */

/* Input */
#create {
  width: 500px;
}
input {
  width: 250px;
}
input#dateTo {
  margin-left: 2px;
}
input:focus {
  outline: none;
}
/* Buttons */
#optionsButton {
  margin-right: 5px;
  margin-left: 3px;
  width: fit-content;
  background-color: inherit;
  border: none;
  left: 520px;
  position: absolute;
  top: 30px;
}

#createButton {
  position: absolute;
  left: 520px;
  top: -2px;
}

#removeButton {
  padding: none;
  width: 20px;
  border-radius: 20px;
  color: red;
  border: 2px black solid;
  background-color: white;
  cursor: pointer;
}

#clearButton {
  position: absolute;
  left: -1px;
  top: 25px;
}

#removeButton:hover,
#clearButton:hover {
  background-color: red;
  color: black;
}

button {
  cursor: pointer;
  margin: 2px;
  background-color: white; /* Green */
  border: 1px rgb(190, 190, 190) solid;
  color: black;
  padding: 2px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  width: 75px;
}

button:hover {
  background-color: darkseagreen;
  color: black;
}

button:focus {
  outline: none;
}

/* Layout styles */

#wrapper {
  height: 100%;
}

#wrapper2 {
  height: 85vh;
}