.card-body {
  font-size: larger;
  height: fit-content;
  background-color: inherit;
}

.card-title {
  padding-top: 5px;
  padding-left: 5px;
  background-color: inherit;
}

.card {
  background-color: rgb(190, 190, 190);
}

.ok {
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}